[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
nose2 = "*"
autopep8 = "*"

[packages]
tqdm = ">=4.23"
click = ">=6.7"

[requires]
python_version = "3.7"
